.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
}

.text-field {
    -fx-border-color: black;
    -fx-padding: 0px;
}

.text-area {
    -fx-font-family: "Consolas";
    -fx-font-size: 20px;
}